{% extends "layout/basic.html" %}
{% load bootstrap4 %}



{% block content %}
<div class="container">
   <div class="row"style="margin-top:20px">
        <div class="col-md-3" style="background: #FFFFE0">
           <img style="margin-top:10px" src = '/static/main9/-Caramel-Grande.jpg' alt = 'Фотография' width = '340' onclick = 'openImageWindow(this.src);' />
        </div>
       <div class="col-md-6 "  style="background:#FFFFE0	;">
        <h4 class="text-center" style="margin-top:50px">ПАРКЕТНАЯ ДОСКА
            ДУБ CARAMEL GRANDE</h4>
        <b>Страна: Польша, Украина </b><br>
        <b>Поизводитель: "Barlinek", www.barlinek.com<br></b>
        <br>Тип доски: Однополосный<br>
        Толщина доски: 14мм<br>
        Материал: дуб<br>
        Гарантия: 20 лет<br>
        Тип замка: 5gc<br>
        Площадь упаковки: 2,77м^2 <br>
        Штук в упаковке: 7 шт. <br>
        Размер: 14х180х2200 мм<br>
        Фаска: с фаской, фаска четырехсторонняя <br>
        Поверхность: матовый, браширование, лак<br>
        Артикул: 49144<br><br><br>

       </div>
     <div class="col-md-3 text-center" style=" background:white;">
         <h6  style="margin-top:20px">Цена за метр:</h6><h5>3700 руб.</h5>
         <h6 >Цена за упаковку:</h6><h5> 10250 руб.</h5><br>
         <h5>Упаковка: 2,77м^2</h5>
         <h5 class="text-center"><a style="color:red"  href="tel:+79817375216">
             Позвоните нам для того чтобы оформить заказ:<br> 8-981-737-52-16</a></h5>

     </div>
       <div class="jumbotron font-italic " style="margin-top:20px; background:white">
          <h3 class="text-center font-italic">Описание паркетной доски Дуб Caramel Grande</h3>
          <p >Современные технологии, экологичные материалы, современный дизайн и непревзойдённое
              качество от Barlinek воплотились в паркетной доске Дуб Caramel Grande из коллекции
              PURE Line. Дуб Caramel Grande соответствует международным стандартам качества ISO-9001
              и международным экологическим стандартам по сертификатам ISO 14001. Все продукты Barlinek
              проходят высокоточную обработку и имеют качественный замок, что делает процесс укладки простым и быстрым!
          </p><br>
           <h3 class="text-center"> Дуб Caramel Grande на прямую со склада </h3>
          <b>Вы всегда сможете посмотреть образцы и проконсультироваться у наших специалистов у нас на складе, который находится
              по адресу: Выборгская наб.55 </b>

          <h3 class="text-center"><br>Оплата и доставка</h3>
          <p>
              Наша комапния готова предложить вам оптовую поставку паркетной доски любого объёма в
              кратчайшие сроки! Мы осуществляем доставку по Санкт-Петербургу и Ленинградской области, а также и в
              другие регионы Северо-Запада.</p>
          <hr class="my-2">
          <p class="lead"><br>
             <h5 class="text-center"><a style="color:red"  href="tel:+79817375216">
             Позвоните нам для того чтобы оформить заказ или проконсультироваться у наших специалистов:<br> 8-981-737-52-16</a></h5>
           </p>
        </div>
   </div>
</div>


{% endblock %}