{% extends "layout/basic.html" %}

{% block content %}

<br>
<div class="container">
    <div class="row">
     <div class="d-flex justify-content-center">

        <table class="table-bordered text-center" style="background:white">
          <thead>
              <th>№</th>
              <th>Наименование</th>
              <th>Объем, м3</th>
              <th>Кол-во шт в м3</th>
              <th>Цена за шт</th>
              <th>Цена за м3</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th><td>Имитация бруса 21*146*6000мм,<br> Сорт АВ</td>
              <td>0,0184</td>
              <td>54,36</td>
              <td>358,72</td>
              <td>19500<td>
            </td>
            <tr>
              <th scope="row">2</th><td>Имитация бруса 21*196*6000мм,<br> Сорт АВ</td>
             <td>0,0247</td>
              <td>40,49</td>
              <td>481,57</td>
              <td>19500<td>
            </tr>
            <tr>
              <th scope="row">3</th><td>Имитация бруса 36*196*6000мм,<br> Сорт АВ</td>
             <td>0,0423</td>
              <td>23,62</td>
              <td>825,55</td>
              <td>19500<td>
            </tr>
            <tr>
              <th scope="row">4</th><td>Имитация бруса 21*146*6000мм,<br> Сорт ВС</td>
             <td>0,0184</td>
              <td>54,36</td>
              <td>275,94</td>
              <td>15000<td>
            </tr>
            <tr>
              <th scope="row">5</th><td>Имитация бруса 21*196*6000мм,<br> Сорт ВС</td>
              <td>0,0247</td>
              <td>40,49</td>
              <td>370,44</td>
              <td>15000<td>
            </tr>
            <tr>
              <th scope="row">6</th><td>Имитация бруса 36*196*6000мм,<br> Сорт ВС</td>
              <td>0,0423</td>
              <td>23,62</td>
              <td>635,04</td>
              <td>15000<td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}