{% extends "layout/basic.html" %}

{% block content %}

<br>
<div class="container">
    <div class="row">
     <div class="d-flex justify-content-center">

        <table class="table-bordered text-center" style="background:white">
          <thead>
              <th>№</th>
              <th>Наименование</th>
              <th>Объем, м3</th>
              <th>Кол-во шт в м3</th>
              <th>Цена за шт</th>
              <th>Цена за м3</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th><td>Террасная доска 36*146*6000мм, сорт АВ</td>
              <td>0,0315</td>
              <td>31,71</td>
              <td>583,42</td>
              <td>18500<td>
            </td>
            <tr>
              <th scope="row">2</th><td>Террасная доска 46*146*6000мм, сорт АВ</td>
             <td>0,0403</td>
              <td>24,82</td>
              <td>745,48</td>
              <td>18500<td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}