{% extends "layout/basic.html" %}

{% block content %}

<br>
<div class="container">
    <div class="row">
     <div class="d-flex justify-content-center">

        <table class="table-bordered text-center" style="background:white">
          <thead>
              <th>№</th>
              <th>Наименование</th>
              <th>Объем, м3</th>
              <th>Кол-во шт в м3</th>
              <th>Цена за шт</th>
              <th>Цена за м3</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th><td>Вагонка 21*96*6000мм,<br>Сорт АВ, ЕВРО</td>
              <td>0,0121</td>
              <td>82,67</td>
              <td>235,87</td>
              <td>19500<td>
            </td>
            <tr>
              <th scope="row">2</th><td>Вагонка 21*146*6000мм,<br>Сорт АВ, ЕВРО</td>
             <td>0,0184</td>
              <td>54,36</td>
              <td>358,72</td>
              <td>19500<td>
            </tr>
            <tr>
              <th scope="row">3</th><td>Вагонка 21*96*6000мм,<br>Сорт АВ, ШТИЛЬ</td>
             <td>0,0121</td>
              <td>82,67</td>
              <td>235,87</td>
              <td>19500<td>
            </tr>
            <tr>
              <th scope="row">4</th><td>Вагонка 21*146*6000мм,<br>Сорт АВ, ШТИЛЬ</td>
             <td>0,0184</td>
              <td>54,36</td>
              <td>358,72</td>
              <td>19500<td>
            </tr>
            <tr>
              <th scope="row">5</th><td>Вагонка 21*96*6000мм,<br> Сорт ВС, ЕВРО</td>
              <td>0,0121</td>
              <td>82,67</td>
              <td>169,34</td>
              <td>14000<td>
            </tr>
            <tr>
              <th scope="row">6</th><td>Вагонка 21*146*6000мм,<br>Сорт ВС, ЕВРО</td>
              <td>0,0184</td>
              <td>54,36</td>
              <td>257,54</td>
              <td>14000<td>
            </tr>
            <tr>
              <th scope="row">7</th><td>Вагонка 21*96*6000мм,<br> Сорт ВС, ШТИЛЬ</td>
              <td>0,0121</td>
              <td>82,67</td>
              <td>169,34</td>
              <td>14000<td>
            </tr>
            <tr>
              <th scope="row">8</th><td>Вагонка 21*146*6000мм,<br> Сорт ВС, ШТИЛЬ</td>
              <td>0,0184</td>
              <td>54,36</td>
              <td>257,54</td>
              <td>14000<td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}